body {
    background-color: green;
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
  }
  main {
    background-color: white;
    color: navy;
    margin-left: 20px;
    overflow: scroll;
  }

  img {
    border-radius: 100px;
  }

  figure img {
    width: 150px;
  }

  figcaption {
    font-weight: bold;
    text-align: center;
    }
  p.thick {
    font-weight: bold;
  }

  header {
    background-image:url(../images/LogoSmall.png);
    min-height: 50px; 
    background-position: right top; 
    background-repeat: no-repeat;
    font-style: italic;
  }
  nav {
    size: 1.5em;
    height: 100vh;
  }
  
  li a {
    display: block;
    width: 60px;
    background-color: #4e08f0;
  }

  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    img {
      float: left;
    }
    
    p.clear {
      clear: left;
    }
  }

  @media screen and (min-width: 650px) {
    body {
      background-color: goldenrod;
      color: white;
    }
    header {
      background-color: green;
      color:blue

    }
    header {
      background-image: url(../images/LogoLarge.png);
      min-height: 100px;
    }
    
    figure {
      width: 80px;
    }
  }

  li {
    display: inline;
  }

  .flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
  }