body {
    background-color: green;
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
  }
  main {
    background-color: white;
    color: navy;
    margin-left: 20px;
  }
  img {
    border-radius: 100px;
  }

  figure {
    width: 150px;
  }

  figcaption {
    font-weight: bold;
    text-align: center;
    }
  p.thick {
    font-weight: bold;
  }

  header {
    background-image:url(../images/LogoSmall.png);
    min-height: 50px; 
    background-position: right top; 
    background-repeat: no-repeat;
    font-style: italic;
  }
  nav {
    size: 1.5em;
  }

  @media screen and (min-width: 650px) {
    body {
      background-color: goldenrod;
      color: white;
    }
    header {
      background-color: green;
      color:blue

    }
    header {
      background-image: url(../images/LogoLarge.png);
      min-height: 100px;
    }
    
    figure {
      width: 80px;
    }
  }